#canvas {
    background-color: green;
    display: block;
}

* {
    margin: 0px;
    padding: 0px;
}

.actions {
    position: fixed;
    left: 5px;
    bottom: 5px;
}

.actions > #brush {
    display: none;
}

.actions.x > #brush {
    display: inline-block;
}

.actions.x > #eraser {
    display: none;
}