/*
 * 初始化
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
 * 项目标题
 */

header {
    font-size: 45px;
    text-align: center
}

/*
 * 轮播图部分
 */

main {
    margin: 32px 0;
}

main>.wrapper {
    width: 925px;
    margin: 0 auto;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    box-shadow: 2px 2px 32px 4px rgba(0, 0, 0, 0.6);
}

.pic {
    width: 100%;
    white-space: nowrap;
    transition: all 0.5s;
    overflow: hidden;
}

.images {
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
    width: 925px;

}

.wrapper-opts {
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    height: 45px;
    background: #edecec;
    text-align: center;
    font-size: 0px;
}

.wrapper-opts>a {
    display: inline-block;
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
    width: 60px;
    line-height: 44px;
    transition: all .1s
}

.wrapper-opts>a:hover {
    background: #cf5d5f;
}

.wrapper-opts>a.active {
    background: grey;
    position: relative;
}

.wrapper-opts>a.active::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: white transparent transparent transparent;
    position: absolute;
    left: 26px;
}

.wrapper-opts>a>img {
    vertical-align: middle;
}


/*
 * 底部说明文字
 */

footer {
    text-align: center;
    text-decoration: none;
}

footer>.link {
    background: #d2ecff;
    border-radius: 0.5em;
}