* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

body {
    background-color: #EFEFEF;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.topNavBar {
    padding: 20px 0px 20px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.topNavBar-inner {
    padding: 0 16px 0 16px;
}

.topNavBar nav {
    padding-top: 3px;
    padding-bottom: 4px;
}

.topNavBar nav > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.topNavBar nav > ul > li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}

.topNavBar nav > ul > li > a {
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.topNavBar nav > ul > li > a:hover {
    border-bottom: 3px solid #e06567;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: "Arial Black";
    padding-top: 3px;
    padding-bottom: 4px;
}

.topNavBar .logo .rs {
    margin-right: 4px;
    color: #E6686A;
}

.topNavBar .logo .card {
    color: #9A9DA2;
}

.banner {
    height: 515px;
    background-image: url(./img/wallhaven-699897.jpg);
    background-position: center top;
    background-size: cover;
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.5);
}

.userCard {
    /*border: 1px solid red;*/
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.userCard .welcome {
    background-color: #E6686A;
    color: #FFFFFF;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
    /*width: 70px;*/
    /*height: 29px;*/
    /*line-height: 29px;*/
    /*text-align: center;*/
}

.userCard .welcome .triangle {
    display: inline-block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #E6686A;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}

.userCard .picture {
    float: left;
}

.userCard .text {
    float: left;
    margin-left: 62px;
    width: 400px;
    font-family: cursive;
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid #DEDEDE;
}

.PictureAndText {
    padding: 50px 50px;
}

.userCard .text h1 {
    margin-top: 18px;
}

.userCard .text hr {
    margin: 20px 0px;
}

.userCard dl dt, dd {
    float: left;
    padding: 6px 0;
}

.userCard dl dt {
    width: 30%;
    font-weight: bold;
}

.userCard dl dd {
    width: 70%;
    color: #9da0a2;
}

.userCard footer.media {
    background: #E6686A;
    text-align: center;
}

.userCard footer.media > a {
    /*border: 1px solid black;*/
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    margin: 16px;
}

.userCard footer.media > a:hover {
    background: #CF5D5F;
}

.userCard svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}

main {
    margin-top: -340px;
}

body > main .dlresumet-wrapper {
    text-align: center;
}

body > main .dlresumet {
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    border: 1px solid #CDCFD1;
    background: #EFEFEF;
    border-radius: 5px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;
    transition: box-shadow 0.3s;
}

.dlresumet:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.5);
}

.selfIntroduction {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: cursive;
    line-height: 1.8;
    font-size: 18px;
}

section.skills,
section.portfoilo {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

section.skills > h2,
section.portfoilo > h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

section.skills h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}

section.skills > ol {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
}

section.skills > ol > li {
    float: left;
    width: 48%;
}

section.skills > ol > li:nth-child(even) {
    float: right;
}

section.skills .progressBar {
    height: 5px;
    background-color: #fce2df;
    border-radius: 10px;
    margin: 4px 0 40px 0;
}

section.skills .progressBar .progress {
    height: 100%;
    background-color: red;
    width: 50%;
    border-radius: 10px;
}

section.portfoilo {
    text-align: center;
    margin-bottom: 100px;
}

section.portfoilo > nav {
    text-align: center;
    margin-top: 32px;
}

section.portfoilo > nav > ol {
    display: inline-block;
    vertical-align: text-top;
}

section.portfoilo > nav > ol > li {
    float: left;
    margin-left: 40px;
    cursor: pointer;
}

section.portfoilo > nav > ol > li:nth-child(1) {
    margin-left: 0;
}

section.portfoilo nav .bar {
    height: 5px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 10px;
}

section.portfoilo nav .bar .bar-inner {
    height: 100%;
    background-color: #E6686A;
    width: 10%;
    border-radius: 10px;
    transition: all 0.5s;
}

section.portfoilo nav .bar.state-1 .bar-inner {
    margin-left: 0px;
    width: 33px;
}

section.portfoilo nav .bar.state-2 .bar-inner {
    margin-left: 70px;
    width: 35px;
}

section.portfoilo nav .bar.state-3 .bar-inner {
    margin-left: 142px;
    width: 34px;
}

section.portfoilo nav {
    display: inline-block;
    vertical-align: text-top;
}

section.portfoilo .works {
    position: relative;
    height: 546px;
}

section.portfoilo .works .work1,
section.portfoilo .works .work2,
section.portfoilo .works .work3,
section.portfoilo .works .work4 {
    position: absolute;
}

section.portfoilo .works .work1 {
    top: 0px;
    left: 0px;
}

section.portfoilo .works .work2 {
    top: 0px;
    left: 490px;
}

section.portfoilo .works .work3 {
    top: 293px;
    left: 0px;
}

section.portfoilo .works .work4 {
    top: 293px;
    left: 490px;
}