* {
    margin: 0;
    padding: 0
}

ol, ul {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}

body {
    margin: 0;
    background-color: #efefef
}

a {
    color: inherit;
    text-decoration: none
}

.clearfix:after {
    clear: both;
    display: block;
    content: ''
}

.topNavBar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    width: 100%;
    color: #b7b7b7;
    transition: all .5s
}

.topNavBar.sticky {
    z-index: 1;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    color: #3d4451
}

.topNavBar-inner {
    padding: 0 1pc
}

.topNavBar nav {
    padding-top: 3px;
    padding-bottom: 4px
}

.topNavBar nav>ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.topNavBar nav>ul>li {
    position: relative;
    float: left;
    margin-right: 17px;
    margin-left: 17px
}

.topNavBar nav>ul>li>a {
    position: relative;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    font-weight: 700;
    font-size: 9pt
}

.topNavBar nav>ul>li.active>a:after {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: #e06567;
    content: '';
    animation: menuSlide .25s
}

@keyframes menuSlide {
    0% {
        width: 0
    }
    to {
        width: 100%
    }
}

.topNavBar .subMenu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .25);
    color: #3d4451
}

.topNavBar li.active>.subMenu {
    display: block;
    animation: subMenuSlide .3s
}

@keyframes subMenuSlide {
    0% {
        margin-right: 100%
    }
    to {
        margin-right: 0
    }
}

.topNavBar .subMenu>li {
    padding: 5px 10px;
    white-space: nowrap
}

.topNavBar .logo {
    padding-top: 3px;
    padding-bottom: 4px;
    font-size: 24px;
    font-family: Arial #000
}

.topNavBar .logo .rs {
    margin-right: 4px;
    color: #e6686a
}

.topNavBar .logo .card {
    color: #9a9da2
}

.banner {
    height: 515px;
    background-image: url(img/wallhaven-699897.jpg);
    background-position: center top;
    background-size: cover
}

.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, .5)
}

.userCard {
    margin-right: auto;
    margin-left: auto;
    max-width: 940px;
    background-color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .5)
}

.userCard .welcome {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding: 4px 1pc;
    background-color: #e6686a;
    color: #fff;
    line-height: 22px
}

.userCard .welcome .triangle {
    position: absolute;
    top: 100%;
    left: 4px;
    display: inline-block;
    width: 0;
    border: 10px solid transparent;
    border-left-color: #e6686a;
    border-top-width: 0
}

.userCard .picture {
    float: left
}

.userCard .text {
    float: left;
    margin-left: 62px;
    width: 25pc;
    font-family: cursive
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #dedede
}

.PictureAndText {
    padding: 50px
}

.userCard .text h1 {
    margin-top: 18px
}

.userCard .text hr {
    margin: 20px 0
}

.userCard dl dt, dd {
    float: left;
    padding: 6px 0
}

.userCard dl dt {
    width: 30%;
    font-weight: 700
}

.userCard dl dd {
    width: 70%;
    color: #9da0a2
}

.userCard footer.media {
    background: #e6686a;
    text-align: center
}

.userCard footer.media>a {
    display: inline-block;
    margin: 1pc;
    padding: 5px 0;
    width: 40px;
    border-radius: 50%;
    line-height: 30px;
    transition: all .5s
}

.userCard footer.media>a:hover {
    background: #cf5d5f
}

.userCard svg {
    width: 30px;
    height: 30px;
    vertical-align: top;
    fill: #fff
}

main {
    margin-top: -340px
}

body>main .dlresumet-wrapper {
    text-align: center
}

body>main .dlresumet {
    display: inline-block;
    margin: 2pc 0;
    padding: 21px 55px;
    border: 1px solid #cdcfd1;
    border-radius: 5px;
    background: #efefef;
    color: #3d4451;
    font-weight: 700;
    font-size: 14px;
    line-height: 1pc;
    transition: box-shadow .3s
}

.dlresumet:hover {
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, .5)
}

.selfIntroduction {
    margin-right: auto;
    margin-left: auto;
    max-width: 940px;
    text-align: center;
    font-size: 18px;
    font-family: cursive;
    line-height: 1.8
}

section.portfoilo, section.skills {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    max-width: 940px
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700
}

section.portfoilo>h2, section.skills>h2 {
    color: #3d4451;
    text-align: center;
    font-weight: 600;
    font-size: 34px;
    line-height: 1.2
}

section.skills h3 {
    padding-right: 40px;
    font-size: 14px;
    line-height: 1.1
}

section.skills>ol {
    margin-top: 30px;
    padding: 42px 50px 10px;
    background-color: #fff;
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, .5)
}

section.skills>ol>li {
    float: left;
    width: 48%
}

section.skills>ol>li:nth-child(even) {
    float: right
}

section.skills .progressBar {
    margin: 4px 0 40px;
    height: 5px;
    border-radius: 10px;
    background-color: #fce2df
}

section.skills .progressBar .progress {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: red
}

section.portfoilo {
    margin-bottom: 75pt;
    text-align: center
}

section.portfoilo>nav {
    margin-top: 2pc;
    text-align: center
}

section.portfoilo>nav>ol {
    display: inline-block;
    vertical-align: text-top
}

section.portfoilo>nav>ol>li {
    float: left;
    margin-left: 40px;
    cursor: pointer
}

section.portfoilo>nav>ol>li:nth-child(1) {
    margin-left: 0
}

section.portfoilo nav .bar {
    margin-top: 5px;
    margin-bottom: 30px;
    height: 5px;
    border-radius: 10px;
    background-color: #fff
}

section.portfoilo nav .bar .bar-inner {
    width: 10%;
    height: 100%;
    border-radius: 10px;
    background-color: #e6686a;
    transition: all .5s
}

section.portfoilo nav .bar.state-1 .bar-inner {
    margin-left: 0;
    width: 33px
}

section.portfoilo nav .bar.state-2 .bar-inner {
    margin-left: 70px;
    width: 35px
}

section.portfoilo nav .bar.state-3 .bar-inner {
    margin-left: 142px;
    width: 34px
}

section.portfoilo nav {
    display: inline-block;
    vertical-align: text-top
}

section.portfoilo .works {
    position: relative;
    height: 546px
}

section.portfoilo .works .work1, section.portfoilo .works .work2, section.portfoilo .works .work3, section.portfoilo .works .work4 {
    position: absolute
}

section.portfoilo .works .work1 {
    top: 0;
    left: 0
}

section.portfoilo .works .work2 {
    top: 0;
    left: 490px
}

section.portfoilo .works .work3 {
    top: 293px;
    left: 0
}

section.portfoilo .works .work4 {
    top: 293px;
    left: 490px
}